
  <th scope="row">{{applicantItem.id}}</th>
  <td>{{applicantItem.name}}</td>
  <td>{{applicantItem.applyFor}}</td>
  <td>{{applicantItem.stage}}</td>
  <td>{{applicantItem.email}}</td>
  <td>{{applicantItem.phone}}</td>
  <td> {{applicantItem.psi}}</td>
  <td> {{applicantItem.psd}}</td>

  <!-- Button part -->
  <td>
    <!-- <button type="button" class="btn btn-warning btn-my col-md-6 d-inline-block"
          (click)="getApplicant(i+1,applicant)"
          >Edit</button> -->
    <button type="button" class="btn btn-warning btn-my col-md-6 d-inline-block" (click)="updateClicked(applicantItem.id)">Edit</button>
  </td>
  <td>
    <button type="button" class="btn btn-danger btn-my col-md-6 d-inline-block" (click)="deleteClicked(applicantItem.id)">Delete</button>
  </td>
