<form class="clearfix">
  <div class="form-group">
    <label for="applicantName" class="font-weight-bold">Applicant's Name: </label>
    <input type="text" class="form-control" id="applicantName" placeholder="Name here...">
  </div>
  <div class="form-group">
    <label for="applyFor" class="font-weight-bold">Apply for: </label>
    <select class="form-control" id="applyFor">
      <option>ASE</option>
      <option>SE</option>
      <option>SSE</option>
      <option>TA</option>
    </select>
  </div>
  <div class="form-group">
    <label for="stage" class="font-weight-bold">Stage: </label>
    <select class="form-control" id="stage">
      <option>N/A</option>
      <option>Interviewing</option>
      <option>Done</option>
    </select>
  </div>
  <div class="form-group">
    <label for="email" class="font-weight-bold">Email: </label>
    <input type="email" class="form-control" id="email" placeholder="Email here...">
  </div>
  <div class="form-group">
    <label for="phone" class="font-weight-bold">Phone: </label>
    <input type="text" class="form-control" id="phone" placeholder="Phone here...">
  </div>
  <div class="form-group">
    <label for="psi" class="font-weight-bold">Phone Screen Interviewer: </label>
    <input type="text" class="form-control" id="psi" placeholder="">
  </div>
  <div class="form-group">
    <label for="psd" class="font-weight-bold">Phone Screen Date: </label>
    <input type="date" class="form-control" id="psd">
  </div>
  <div class="row float-right mb-4">
    <button class="btn btn-success mr-2" type="submit"> Add Applicant </button>
    <button class="btn btn-danger" type="button"> Cancel </button>
  </div>
</form>
