<form class="clearfix" (ngSubmit)="onAddApplicant(f,$event)" #f="ngForm">
  <div class="form-group">
    <label for="applicantFirstName" class="font-weight-bold">Applicant's First Name: <span style="color: red"> * </span> </label>

    <input type="text" class="form-control" id="applicantFirstName" name="FirstName" [(ngModel)]="formData._firstName" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="applicantLastName" class="font-weight-bold">Applicant's Last Name: <span style="color: red"> * </span> </label>

    <input type="text" class="form-control" id="applicantLastName" name="LastName" [(ngModel)]="formData._lastName" required #name="ngModel">
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>
  </div>

  <div class="form-group">
    <label for="applyFor" class="font-weight-bold">Apply for: <span style="color: red"> * </span> </label>
<select class=" form-control" id="applyFor" name="applyFor" [(ngModel)]="formData._applyFor" required #applyFor="ngModel">
      <option *ngFor="
let applyFor of forArr" value="{{applyFor.getId}}">{{applyFor.getName}}</option>
    </select>
    <div [hidden]="applyFor.valid || applyFor.pristine" class="alert alert-danger">
      Apply position needed, please select one from above !
    </div>
  </div>

  <!-- <div class="form-group">
    <label for="email" class="font-weight-bold">Email: <span style="color: red"> * </span> </label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formData.email" required email>
    </div> -->
    <div class="form-group">
    <label for="email" class="font-weight-bold">Email: <span style="color: red"> * </span> </label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
<input type="email" name="email" id="email" class="form-control" [(ngModel)]="formData._emailAddress" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        required email #email="ngModel">
    </div>
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Invalid Email ! Double check Please ! :)
    </div>
  </div>
  <div class="form-group">
    <label for="phone" class="font-weight-bold">Phone: <span style="color: red"> * </span></label>
    <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="formData._phone" pattern="[0-9]*"
      minlength="10" maxlength="10" #phone="ngModel" required>
    <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
      Phone 10 số emei
    </div>
  </div>
  <div class="form-group">
    <label for="psi" class="font-weight-bold">Phone Screen Interviewer: </label>
<input type="text" class="form-control" id="psi" name="psi" [(ngModel)]="formData._phoneScreenInterviewer">
  </div>
  <div class="form-group">
    <label for="psd" class="font-weight-bold">Phone Screen Date: </label>

<input type="date" class="form-control" id="psd" name="psd" [(ngModel)]="formData._phoneScreenDate">
  </div>
  <div class="form-group">
    <label for="stage" class="font-weight-bold">Stage: </label>
<select class="form-control" id="stage" name="stage" [(ngModel)]="formData._stage">
      <option *ngFor="let stage of stageArr" value="{{stage.getId}}">{{stage.getName}}</option>
    </select>
  </div>
  <div class=" row col-sm-5 font-italic">
    <kbd> (<span style="color: red">*</span>) Is required field </kbd>
  </div>


  <div class="row float-right mb-4">
    <button class="btn btn-success mr-2" type="submit" *ngIf="(mode) else edit" [disabled]="!f.valid"> Add
      Applicant </button>
    <ng-template #edit>
      <button class="btn btn-warning mr-2" type="button" (click)='onSubmitApplicant($event)' [disabled]="!f.valid">
        Submit Edit </button>
    </ng-template>
    <button class="btn" type="button" (click)='onCancel($event)'> Cancel </button>
  </div>
</form>
