<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="jumbotron jumbotron-fluid bg-info">
    <div class="container">
      <h1 class="display-4">Applicants</h1>
      <p class="lead">Logixtek Intern Assignment</p>
    </div>
  </div>
  <app-applicant-list class="mt-2"
   *ngIf="loadedFeature === 'List' "
   (applicantSelected)="onApplicantSelected($event)"
   (addApplicant)="onAddApplicant()"
   [alertStatus]="setAlertStatus"
   ></app-applicant-list>

  <app-applicant-detail class="mt-2"
  *ngIf="loadedFeature ==='Detail'"
  [formData]="applicantSelected"
  [modeData]="modeData"
  (formSubmit)="onApplicantDetailSubmit($event)"
  ></app-applicant-detail>
</div>
