.btn-my {
  color: white;
  min-width: 90px;
  height: 40px;
}

.table td,
.table th
{
  vertical-align: middle;
}

.table thead th {
  vertical-align: middle;
}

.table tbody tr td {
  text-align: center;
}


