<div class="btn-group mb-4" (click)="onCreateApplicant()">
  <button class="btn btn-success">Add Applicant</button>
</div>

<div class="table-responsive-xl">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Applying for</th>
        <th scope="col">Stage</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Phone Screen Interview</th>
        <th scope="col">Phone Screen Date</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let applicant of applicants let i =index">
        <th scope="row">{{i+1}}</th>
        <td>{{applicant.name}}</td>
        <td>{{applicant.applyFor}}</td>
        <td>{{applicant.stage}}</td>
        <td>{{applicant.email}}</td>
        <td>{{applicant.phone}}</td>
        <td> {{applicant.psi}}</td>
        <td> {{applicant.psd}}</td>
        <!-- Button part -->
        <td>
          <button type="button" class="btn btn-warning btn-my col-md-6 d-inline-block">Edit</button>
          <!-- <div class="dropdown dropright">
            <button class="btn btn-secondary dropdown-toggle btn-warning btn-my" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Edit
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">
                Delete </button>
            </div>
          </div> -->
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-my col-md-6 d-inline-block">Delete</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>
