<div class="table-responsive-xl">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Applying for</th>
        <th scope="col">Stage</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Phone Screen Interview</th>
        <th scope="col">Phone Screen Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Nam Tran</td>
        <td>SSEE</td>
        <td>Interview</td>
        <td>Xiaoxiao@gmail.com</td>
        <td>0011223344</td>
        <td> Mr A</td>
        <td> Mr B</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-warning btn-my">Edit</button>
            <button type="button" class="btn btn-danger btn-my">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>